@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    background:#333;
    color:#fff;
    font-family: 'Poppins',sans-serif;
    overflow-x:hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.container{
    padding:50px 20px 0;
    width:80%;
    margin:0 auto;
}
header a{
    text-decoration: none;
    color:#fff;
    background:crimson;
    padding:12px 18px;
    border:none;
    border-radius: 10px;
    font-size: 20px;
}
header h1{
    font-weight: 28px;
}

form#search input,#create input[type="text"]{
    width:100%;
    height:40px;
    padding:0 4px;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    outline-color:gold;

}

/* create.html */
form#create{
    width:500px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
#create input{
    display: block;
}

#create textarea{
    width: 100%;
    font-size: 18px;
    margin:5px 0;
    border:none;
    min-height: 200px;
    padding:10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;

}
#create input[type="submit"]{
    background:chartreuse;
    color:#fff;
    border:none;
    padding:10px 13px;
    border-radius: 10px;
    font-size: 18px;
}
.posts{
    background:rgb(39, 36, 36);
    margin:5px;
    padding:10px;
    border-radius: 5px;
}
.posts p{
    margin-top: 5px;
}
.posts a{
    text-decoration: none;
}

.wrapper{
    width:500px;
    margin:auto;
}
.post p{
    margin: 40px 0;
}
.wrapper button.active{
    display: inline-block;
}
.wrapper button{
    display:none;
    background:crimson;
    color:#fff;
    border:none;
    border-radius: 5px;
    padding:10px 15px;
    font-size: 18px;
}
@media only screen and (max-width:539px){
    header{
        flex-direction: column;
    }
    header a{
        margin-top:20px;
    }
}